{% extends "templates/default.twig" %}

{% block title %}{{title}}{% endblock %}

{% block content %}
	<h1>Página: {{title}}</h1>
	<a href="logout" class="btn btn-danger">Sair</a>
{% endblock %}


{% block script %}
	{{ parent() }}
	<!-- <script type="text/javascript" src="{{assetsPath}}/js/pages/index.js"></script> -->
{% endblock %}