{% extends "templates/default.twig" %}

{% block title %}
  {{title}}
{% endblock %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <div class="row justify-content-center">
      <div>
        <h1>Bem-vindo(a) à Stock Sales Manager</h1>
        <h3 class="h5 mt-3">
          Ítalo Sérvio Carvalho <br>
          Matheus Henrique Moreira Braz
        </h3>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-xl-4">
      <div class="form-group">
        <label>Categorias:</label>
        <select id="categories" class="form-control">
          <option value="0">Todos</option>
        </select>
      </div>
    </div>
  </div>
  <div class="my-5">
    <h1 class="h2 mb-3">Produtos em alta</h1>
    <div id="products" class="row "></div>
  </div>
</div>
{% endblock %}

{% block script %}
  {{ parent() }}
  <script type="text/javascript" src="{{assetsPath}}/js/pages/index.js"></script>
{% endblock %}