{% extends "templates/default.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="container img-thumbnail">
        <div class="row" >
            <div class="col-6">
                <div id="image"></div>
            </div>

            <div class="col-6">
                <div id="name"></div>
                <div id="desc"></div>
                <div id="qtd"></div>
                <div id="price"></div>
                <div id="buy">
                    <button class="btn btn-primary" type="submit">Buy</button>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row" id="columns">

        </div>
        <hr/>
    </div>
{% endblock %}

{% block script %}
    {{ parent() }}
    <script>
        const productId = "{{ optionals['productId'] }}";
    </script>
    <script type="text/javascript" src="{{ assetsPath }}/js/pages/product.js"></script>
{% endblock %}