<!DOCTYPE html>
<html lang="pt-BR">
<head>
	{% block head %}
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{assetsPath}}/css/bootstrap.min.css">
		<link rel="stylesheet" href="{{assetsPath}}/css/custom.css">
		<title>{% block title %}{% endblock %}</title>
	{% endblock %}
</head>
<body>

	<main>
		{% block content %}{% endblock %}
	</main>

	<footer>
		{% block footer %}
			&copy; Copyright 2011 by <a href="http://domain.invalid/">you</a>.
		{% endblock %}
	</footer>

	{% block script %}
		<script type="text/javascript" src="{{assetsPath}}/js/core/jquery-3.6.0.min.js"></script>
		<script type="text/javascript" src="{{assetsPath}}/js/core/bootstrap.min.js"></script>
	{% endblock %}
</body>
</html>